.redSquare {
    width: 100px;
    height: 100px;
    background: red;
}
.greenSquare {
    width: 100px;
    height: 100px;
    background: green;
}
.blueSquare {
    width: 100px;
    height: 100px;
    background: blue;
}
.blackSquare {
    width: 100px;
    height: 100px;
    background: black;
}